<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <!-- <link -->
    <!--   rel="stylesheet" -->
    <!--   href="https://fonts.googleapis.com/css?family=Roboto:400,700" -->
    <!-- /> -->
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css'%}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

    {% if extras %}
        {% block head %}
        {% endblock %}
    {% endif %}
  </head>

  <body>
    <div>
      <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
          <a class="navbar-brand" href="\">
            <h1 class="tm-site-title mb-0">EMRLite System</h1>
          </a>
          <button
            class="navbar-toggler ml-auto mr-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars tm-nav-icon"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="fas fa-tachometer-alt"></i> Dashboard
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <!-- <li class="nav-item"> -->
                <!-- <a class="nav-link" href="#">
                  class="nav-link dropdown-toggle"
                  href="/main/patientlist"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                > -->
                  <!-- <i class="far fa-file-alt"></i>
                  <span>  -->
                  <!-- <a class="nav-link" href="main/patientselector">
                  Patient Selector <i class="fas fa-angle-down"></i> </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Daily Report</a>
                  <a class="dropdown-item" href="#">Weekly Report</a>
                  <a class="dropdown-item" href="#">Yearly Report</a>
                </div> -->
                <li class="nav-item">
                  <a class="nav-link" href="/main/patientselector">
                    <i class="fas fa-shopping-cart"></i> Patient Selector
                  </a>
                </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/main/patientlist">
                  <i class="fas fa-shopping-cart"></i> Patient Lists
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/main/billhistory">
                  <i class="far fa-user"></i> Bill History
                </a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-cog"></i>
                  <span> Settings <i class="fas fa-angle-down"></i> </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Billing</a>
                  <a class="dropdown-item" href="#">Customize</a>
                </div>
              </li> -->
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <button
                  class="btn btn-info text-uppercase"
                    >
                    {% if usr %}
                        <a class="nav-link d-block" href="/main/logout">
                        {{ usr }} - LOGOUT
                    {% else %}
                        <a class="nav-link d-block" href="/main/login">
                        LOG IN TO USE
                    {% endif %}
                </button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>


    {% block content %}

    {% endblock %}


    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
            Billing Systems for Le' Nest Hospital!
        </p>
      </div>
    </footer>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    {% if extras %}
        {% block tail %}
        {% endblock %}
    {% endif %}
  </body>
</html>
