
<body id="form">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bill3.css' %}">
  <script type="text/javascript" src="{% static 'js/bill3.js' %}"  ></script>
  <meta charset="utf-8">

  <form>
    <header>
      <span><img alt="" src="{% static 'img/Logo.jpg' %}"><input type="file" accept="image/*"></span>
    </header>
	<p class="text-center mah_in"></p>
    <article class="invoicebody">
      <!-- <p>Le’Nest, Laxmi Palace</p>
      <p>Above Radha Krishna Hotel,<br>Opp. Sundar Nagar, S. V.Road.</p>
      <p>Malad West, Mumbai – 400064<br></p> -->
	    <div class="left_info">
        <p><br>Name: {{ patient.name }}<br>Sex: {{patient.sex}}<br>Phone No: {{patient.phone}}</p>
		</div>
      <table class="meta" id="top_data_table">
         <tbody>
          <tr class="" id="invoice_number_row">
            <th class="bold"><span class="invoice" id="invoice">Invoice&nbsp;#</span></th>
            <td id="time"></td>
          </tr>

          <tr id="daterow">
            <th class="bold"><span class="date" id="date">Date</span></th>
            <td><span contenteditable=""><input type="date" id="theDate"></span></td>
          </tr>

          <tr class="" id="total_block">
            <th class="bold"><span class="amount" id="amount">Payment Mode</span></th>
            <td> <select>
                  <option value="volvo">Card</option>
                  <option value="saab">Cash</option>
                  </select>
            </td>
          </tr>



          <tr class="" id="total_block">
            <th class="bold"><span class="amount" id="amount">Ammout</span></th>
            <td><span id="prefix">&#8377;</span><span></span></td>
          </tr>



        </tbody>
      </table>
	<div class="min_height">
      <table class="inventory">
        <thead>
          <tr>
            <th class="bold">
              <span class="item" id="item">Item</span>
            </th>
            <th class="bold">
              <span class="description" id="description">Description</span>
            </th>
            <th class="bold">
              <span class="rate" id="rate">Rate</span>
            </th>
            <th class="bold">
              <span class="quantity" id="quantity">Quantity</span>
            </th>
            <th class="bold">
              <span class="price" id="price">Price</span>
            </th>
          </tr>
        </thead>

        <tbody>
            {% if itemlist %}
            {% for item in itemlist %}
              <tr>
                <td><a class="cut">-</a><span contenteditable>{{ item.category }}</span></td>
                <td><span contenteditable>{{ item.name }}</span></td>
                <td><span data-prefix>&#8377;</span><span>{{item.cost}}</span></td>
                <td><span contenteditable>1</span></td>
                <td><span data-prefix>&#8377;</span><span>0</span></td>

            {% endfor %}
            {% endif %}
        </tbody>
      </table>
      <a class="add noprint" title="Add Item">+</a>
      <div class="left_btn">
      		<button class="mah_btn" onclick="myprint()">Print</button>
      		<button class="mah_btn" onClick="window.location.reload()">Reset</button>
      </div>
      <div class="right_tax">
      <table class="balance" id="balance">
        <tbody>

        

          <tr>
            <th class="bold">
              <span class="total" id="total">Total</span>
            </th>
            <td>
              <span>&#8377; </span><span>0.00</span>
            </td>
          </tr>


        </tbody>
      </table>
      </div>
	</div>

  <table class="receipt" id="receipt" border="0" width="269">
                       <tbody>
                         <div style="font-size: 15px; line-height: 24px; padding-left: 4px;text-align: center; font-weight: normal;"><br<br/><br/><br/><br/><br/><br/>Receipt</div>
                          <tr>
                            <td style="text-transform: uppercase; line-height: 20px; font-size: 12px;">Received with thanks from</td>
                            <td style="font-weight: bold; padding-left: 15px; font-size: 15px; vertical-align: top; text-align: left; padding-top: 10px; padding-bottom: 10px">{{ patient.name }}
                            </td>
                          </tr>
                          <tr>
                             <td style="text-transform: uppercase; line-height: 20px; font-size: 12px;">the sum of Rupees</td>
                             <td style="font-weight: bold; padding-left: 15px; font-size: 15px; vertical-align: top; text-align: left; padding-top: 10px; padding-bottom: 10px"><span contenteditable=""></span></td>



                          </tr>
                          <tr>
                             <td style="text-transform: uppercase; line-height: 20px; font-size: 12px;">by Cash/Cheque No/ Credit Card No.</td>
                             <td align="left" style="font-weight: bold; padding-left: 15px; font-size: 15px; vertical-align: top; text-align: left;"><span contenteditable=""</span></td>
                          </tr>
                       </tbody>
</table>

    <p style=" font-size: 10px; vertical-align: top ; text-align: center; padding-top: 5px; padding-bottom: 5px"><br<br/><br/><br/>This is a computer generated bill and does not require signature</p>
    <p style="font-size: 10px; line-height: 24px; padding-left: 4px;text-align: center; font-weight: normal;"><br<br/><br/><br/><br/><br/>NEELAM NURSING HOME <br/></p>
    <p style="font-size: 10px; line-height: 24px; padding-left: 4px;text-align: center; font-weight: normal;">LAXMI PALACE, OFF.S.V.ROAD.LANE OPP. SUNDER NAGAR,MALAD(WEST),MUMBAI-400 064.</p>
    <p style="font-size: 10px; line-height: 24px; padding-left: 4px;text-align: center; font-weight: normal;">Tel.2871 3871 /2871 3872 / E-Mail: lenestmail@gmail.com/  Web: www.lenest.in</p>

    </article>
  </form>




<script>

  function convertNumberToWords(amount) {
        var words = new Array();
        words[0] = '';
        words[1] = 'One';
        words[2] = 'Two';
        words[3] = 'Three';
        words[4] = 'Four';
        words[5] = 'Five';
        words[6] = 'Six';
        words[7] = 'Seven';
        words[8] = 'Eight';
        words[9] = 'Nine';
        words[10] = 'Ten';
        words[11] = 'Eleven';
        words[12] = 'Twelve';
        words[13] = 'Thirteen';
        words[14] = 'Fourteen';
        words[15] = 'Fifteen';
        words[16] = 'Sixteen';
        words[17] = 'Seventeen';
        words[18] = 'Eighteen';
        words[19] = 'Nineteen';
        words[20] = 'Twenty';
        words[30] = 'Thirty';
        words[40] = 'Forty';
        words[50] = 'Fifty';
        words[60] = 'Sixty';
        words[70] = 'Seventy';
        words[80] = 'Eighty';
        words[90] = 'Ninety';
        amount = amount.toString();
        var atemp = amount.split(".");
        var number = atemp[0].split(",").join("");
        var n_length = number.length;
        var words_string = "";
        if (n_length <= 9) {
            var n_array = new Array(0, 0, 0, 0, 0, 0, 0, 0, 0);
            var received_n_array = new Array();
            for (var i = 0; i < n_length; i++) {
                received_n_array[i] = number.substr(i, 1);
            }
            for (var i = 9 - n_length, j = 0; i < 9; i++, j++) {
                n_array[i] = received_n_array[j];
            }
            for (var i = 0, j = 1; i < 9; i++, j++) {
                if (i == 0 || i == 2 || i == 4 || i == 7) {
                    if (n_array[i] == 1) {
                        n_array[j] = 10 + parseInt(n_array[j]);
                        n_array[i] = 0;
                    }
                }
            }
            value = "";
            for (var i = 0; i < 9; i++) {
                if (i == 0 || i == 2 || i == 4 || i == 7) {
                    value = n_array[i] * 10;
                } else {
                    value = n_array[i];
                }
                if (value != 0) {
                    words_string += words[value] + " ";
                }
                if ((i == 1 && value != 0) || (i == 0 && value != 0 && n_array[i + 1] == 0)) {
                    words_string += "Crores ";
                }
                if ((i == 3 && value != 0) || (i == 2 && value != 0 && n_array[i + 1] == 0)) {
                    words_string += "Lakhs ";
                }
                if ((i == 5 && value != 0) || (i == 4 && value != 0 && n_array[i + 1] == 0)) {
                    words_string += "Thousand ";
                }
                if (i == 6 && value != 0 && (n_array[i + 1] != 0 && n_array[i + 2] != 0)) {
                    words_string += "Hundred and ";
                } else if (i == 6 && value != 0) {
                    words_string += "Hundred ";
                }
            }
            words_string = words_string.split("  ").join(" ");
        }
        return words_string;
    }






(function () {
    function checkTime(i) {
        return (i < 10) ? "0" + i : i;
    }

    function startTime() {
        var times = new Date(),

            hh = checkTime(times.getHours()),
            mm = checkTime(times.getMinutes()),
            ss = checkTime(times.getSeconds()),
            yy = checkTime(times.getFullYear().toString(10).substring(2, 4)),
            MM = checkTime(times.getMonth() + 1),
            dd = checkTime(times.getDate())
            ;
        document.getElementById('time').innerHTML = yy + "" + MM + "" + dd + "" + hh + "" + mm + "" + ss ;
        t = setTimeout(function () {
            startTime1()
        }, 500);
    }
    startTime();
})();

var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day;


document.getElementById('theDate').value = today;
</script>
