{% extends "main/base.html" %}

{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
<link type="text/css" href="{% static 'css/dataTables.checkboxes.css' %}" rel="stylesheet" />

{% endblock %}

{% block content %}

<div class="col-12 tm-block-col">
    <div class="tm-bg-primary-dark tm-block-tallest tm-block-scroll">
        <h2 class="tm-block-title">Bill Cart - {{ patient }}</h2>
        <table id="items" class="display dataTable dt-checkboxes-select" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th></th>
              <th>ID No.</th>
              <th>Name</th>
              <th>Category</th>
              <th>Cost</th>
           
            </tr>
          </thead>
          <tbody>
            {% for item in item_list %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.category }}</td>
              <td>{{ item.cost }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>ID No.</th>
              <th>Name</th>
              <th>Category</th>
              <th>Cost</th>
            </tr>
          </tfoot>
        </table>
    </div>
</div>
<div class="col-12">
    <div class="tm-bg-primary-dark tm-mt-small row">
        <input type="hidden" id="csrftok" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button
          id="formulator"
          onclick="requestator()"
          type="submit"
          class="btn btn-primary text-uppercase"
        >
         Save Bill
        </button>
    </div>
</div>

{% endblock %}

{% block tail %}

<script type="text/javascript" charset="utf8" src="{% static 'js/dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.checkboxes.min.js' %}"></script>

<script>
$(document).ready(function (){

var table = $('#items').DataTable({
  'columnDefs': [
     {
        'targets': 0,
        'checkboxes': {
           'selectRow': true
        }
     }
  ],
  'select': {
     'style': 'multi'
  },
  'stateSave':true,
  'order': [[1, 'asc']]
});

console.log('yay!');

// Handle form submission event
// var submitter = document.getElementById('formulator');
requestator = function(event){

    var rows_selected = table.column(0).checkboxes.selected();
    var token_csrf = document.getElementById('csrftok').value;
    console.log(token_csrf);

    var rows = [];
    $.each(rows_selected, function(index, rowId){
        rows.push(rowId);
        console.log(rows);
    });

    fetch("/main/generatebill", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": token_csrf,
        },
        body: JSON.stringify({
            "selected": rows,
        }),
    })
        .then( (res) => res.json())
        .then( (res) => JSON.stringify(res))
        .then( (res) => {
            console.log('Recieved\n');
            console.log(res);
            console.log(res['message']);
        })
        .then( (res) => {
            window.location.pathname = '/main/billing';
        })
        .catch( (err) => console.log(err));
}

});
</script>
{% endblock %}

  </body>
</html>
