{% extends "main/base.html" %}

{% block content %}
<div class="container mt-5">
<div class="row tm-content-row">
  <div class="col-12 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <h2 class="tm-block-title">Final Bill - {{ bill.id }}</h2>
        {% if bill.completed %}
            <div class="tm-status-circle moving">
            </div>Completed
        {% else %}
            <div class="tm-status-circle pending">
            </div>Pending
        {% endif %}
        <h2 class="tm-block-title">Patient Name:  {{ patient.name }}</h2>
        <h2 class="tm-block-title">Patient Phone:  {{ patient.phone }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">NAME</th>
                    <th scope="col">COST</th>
                </tr>
            </thead>
            <tbody>
            {% if itemlist %}
            {% for item in itemlist %}
               <tr>
                    <td>{{ item.id }}
                    <td>{{ item.category }}
                    <td>{{ item.name }}
                    <td>{{ item.cost }}
               </tr>
            {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
                    <th>
                    <th>
                    <th>{{ totalcost }}
            </tfoot>
        </table>
    </div>
  </div>
</div>
<div class="col-12">
    <div class="tm-bg-primary-dark tm-mt-small row">
        <h2 class="tm-block-title">Comment: {{ bill.comment }}</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <button
              id="completion"
              type="submit"
              class="btn btn-primary text-uppercase"
            >
             Mark as Complete
        </button>
        </form>
    </div>
</div>
{% endblock %}
