{% extends "main/base.html" %}

{% block logged_status %}
<a class="nav-link d-block" href="/main/logout">
LOGOUT
{% endblock %}

{% block content %}

<div class="col-12 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
        <h2 class="tm-block-title">Patient List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">SEX</th>
                    <th scope="col">PHONE</th>
                    <th scope="col">EMAIL</th>
                </tr>
            </thead>
            <tbody>
            {% if patientList %}
            {% for patient in patientList %}
               <tr>
                   <td><b>{{ patient.name }}
                    <td>{{ patient.sex }}
                    <td>{{ patient.phone }}
                    <td>{{ patient.email }}
               </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
