@import url('https://fonts.googleapis.com/css?family=Palanquin:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,700');
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
*{
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: 'Merriweather', serif !important;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}

p.text-center.mah_in {
    position: absolute;
    font-size: 12px;
    top: 5px;
    left: 47%;
    font-family: 'Palanquin', sans-serif !important;
}
.Signature ul li:before {
    content: '';
    position: absolute;
    top: -10px;
    border-top: 1px dashed #999;
    width: 44%;
}
td{word-break: break-all;}
.red{
	color:#f44336!important;
}
/* content editable */

*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover {  }

span[contenteditable] { display: inline-block; }

/* heading */

h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }

/* table */

table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }

/* page */

html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #999; cursor: default; }

body { box-sizing: border-box; min-height: 11in; margin: 0 auto; padding: 0 0.5in; width: 8.5in; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }

/* header */

header { margin: 0 0 1em; }
header:after { clear: both; content: ""; display: table; }

header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0; }
header address { float: left; font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header address p { margin: 0 0 0.25em; }
header span, header img { display: block; }
header span { max-height: 100%; max-width: 100%; position: relative; }
header img { max-height: 100%; max-width: 100%; margin: 0 auto;}
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */

article, article address, table.meta, table.inventory { margin: 0 0 3em; }
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }

article address { float: left; font-size: 125%; font-weight: bold; }

/* table meta & balance */

table.meta, table.balance, table.receipt { float: right; width: 40%; }
table.meta:after, table.balance:after, table.receipt { clear: both; content: ""; display: table; }



/* table meta */

table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */

table.inventory { clear: both; width: 100%; }
table.inventory th { font-weight: 400; text-align: center; }

table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { width: 38%; }
table.inventory td:nth-child(3) { text-align: right; width: 12%; }
table.inventory td:nth-child(4) { text-align: right; width: 12%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }

/* table balance */

table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }



/* table receipt */
table.receipt { clear: both; width: 100%; }
table.receipt th { font-weight: 400; text-align: center; }
table.receipt th, table.receipt td { width:40%; }
table.receipt td { text-align: left; }
/* aside */

aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #999; border-bottom-style: solid; }
.left_info {
    width: 60%;
    display: inline-block;
}
.min_height {
    min-height: 283px;
}
/* javascript */

.add, .cut
{
	border-width: 1px;
	display: block;
	font-size: .8rem;
	padding: 0.25em 0.5em;
	float: left;
	text-align: center;
	width: 0.6em;
}

.add, .cut, .mah_btn
{
	background-position: 0% 0%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	border-radius: 0.5em;
	border-color: #0076A3;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
	background-color: #9AF;
	background-repeat: repeat;
	background-attachment: scroll;
}

.add { margin: -2.5em 0 0; }

.add:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }

@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	.add, .cut { display: none; }
		.input.clientDetails{
	    border-bottom: none;
	}

}
@page { margin: 0; }

body{
	margin-top: 0px;
	box-shadow: 10px 10px 5px #888888;
	position: relative;
}
header img {
    width: 408px;
    margin-left: -25px;
    max-width: 816px !important;
}
div.container a.navbar-brand{
	color: white;
}
img.stamp{
	margin-left:5px;
	height:50px;
	background: rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.bold{
	font-weight:400;
}
.left_btn button.mah_btn {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 19px;
    border-radius: 3px;
}
.left_btn {
    width: 50%;
    float: left;
}
.Signature ul li {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    width: 48%;
    position:relative;
}
.Signature ul li:last-child {
    text-align: right;
}
::-webkit-input-placeholder { /* WebKit browsers */
        color: #dbdbdb;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: #dbdbdb;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: #dbdbdb;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: #dbdbdb;
    }

    textarea::-webkit-input-placeholder { /* WebKit browsers */
        color: #dbdbdb;
    }
    textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: #dbdbdb;
    }
    textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: #dbdbdb;
    }
    textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
       color: #dbdbdb;
    }

@media print {
	.left_btn button.mah_btn {
			 display :  none;
	 }

	.noprint { display: none !important; }
	.input.clientDetails{
	    border-bottom: none;
	}

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }

    textarea::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
    textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }
    .clientDetails {
	    width: 400px;
	    border-bottom: none;
	    margin-bottom: 1px;
	}




}

.nodisplay{
	display: none;
}

.display: {
	display: block;
}

table.cpanel td {
    text-align: center;
}
.clientDetails {
    width: 400px;
    border-bottom: 1px solid #ccc;
	margin-bottom: 3px;
    font-size: 15px;
}
.bootstrap * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.add:hover,.cut:hover { text-decoration: none; }
